<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='../static/css/style.css'>
  </head>
  <body>
    <header class = "nav">
      <li><a href="index.html"><b>Kyle Neff</b></a></li>
        <li><a href="../static/images/Resume.pdf" download>Resume</a></li>
        <br><br>
        <hr>
    </header>
    <main>
      <aside class = "sidebar">
        <img src="../static/images/kyne5473.jpg" alt="Self Photo"></img><br>
        <h1><b> Kyle B. Neff</b></h1><br>
        <h3>Computer Science</h3><br><br>
        <h3>Business Minor</h3><br><br><br>
        <img src="../static/images/locationIcon.jpg" alt="Location Icon" style="width: 20px; height: 20px;">
        <h2 class="align-top">Boulder, CO</h2>
        <br><br><br>
        <img src="../static/images/emailIcon.png" alt="Email Icon" style="width: 20px; height: 20px;">
        <h2 class="align-top"><a href = "mailto: kyleneff4@gmail.com"class="icon-link">Email</a></h2>
        <br><br><br>
        <img src="../static/images/githubIcon.png" alt="Github Icon" style="width: 20px; height: 20px;">
        <h2 class="align-top"><a href = "https://www.github.com/KyleNeff"class="icon-link">Github</a></h2>
        <br><br><br>
        <img src="../static/images/linkedInIcon.png" alt="LinkedIn Icon" style="width: 20px; height: 20px;">
        <h2 class="align-top"><a href = "https://www.linkedin.com/in/kyle-neff-0a33241b5/"class="icon-link">LinkedIn</a></h2>
      </aside>

      <div class = "homeText">
        <p>
            This <b>full stack project</b> focuses on creating a <b>Spotify-like music player</b> that generates a recommendation playlist based on the user's music preferences. The backend uses <b>SQL</b> to store all the songs, while the frontend is built with <b>HTML</b> and <b>JavaScript</b>. The music recommendation system is developed in <b>Python</b> and connected to the frontend using <b>Flask</b>.
            <br><br>
            The website includes various features, the majority of the website is primarily only on the frontend and not fully integrated. The functional buttons with <b>full integration</b> are: Liked Songs, 2023 Playlist, Search Bar, Home Screen, and Discover Music.
            <br><br>
            The core of this project is the <b>music recommendation system</b>. It uses a <b>collaborative filtering</b> approach, creating a <b>co-occurrence matrix</b> of the user's songs and all songs in the database. Collaborative filtering operates on the principle that users with similar music tastes will have similar song preferences. For instance, if User 1 and User 2 have a high 
            similarity in their song choices, it's likely they share similar music tastes. Therefore, songs that User 1 listens to, but User 2 hasn't discovered yet, can be recommended to User 2.
        </p>
        <video width="640" height="360" controls>
            <source src="../static/images/MusicPlayer.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
      </div>
  </main>
</body>
</html>